.reviewSection {
  display: grid;
  justify-content: center;
  margin-left: 100px;
}

.other {
  width: 90%;
}

.hor {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}


.showButton {
  margin-top: -500px;
  cursor: pointer;
  text-align: center;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 10px 10px;
  width: 190px;
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 30px 0px 50px;
  background-color: white;
}

.showButton:hover {
  background-color: #cccc;
}

.showButton:active {
  transform: scale(0.9, 0.9);
}

.showButton:focus {
  outline:0;
}

.popUp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;

}

.background {
  align-items: center;
  display: flex;
  padding: 40px;
  z-index: 100;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-top: 12px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(72, 72, 72, 0.75);
}