.ratingNumber {
  margin-bottom: 10px;
  margin-left: -90px;
  font-size: 10px;
  font-weight: 600;
}

@media (max-width: 100px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
